*~
*#
.vscode/
build
release*
tsan*
asan*
__pycache__
.doit.db
.idea
perf.data*
cmake-*
.submit-repo/
CMakeSettings.json
CppProperties.json
.vs/
build_asan
.DS_Store
.cache/
run.dSYM/
venv/
feeds/
csv/
bringly.py
bringly_orig.py
errors.log
excel_to_xml.py
parse_xml.py
xml_converted.xml
*.xlsx